{{ ansible_managed | comment }}
[DEFAULT]
transport_url = rabbit://openstack:{{ openstack_rabbitmq_password }}@{{ _controller_address }}:5672/
sql_connection = mysql+pymysql://{{ openstack_barbican_db_user }}:{{ openstack_barbican_db_password }}@{{ _mysql_address }}:3306/{{ openstack_barbican_db_name }}
host_href = {{ _controller_http_host }}:9311

[secretstore]
enabled_secretstore_plugins = store_crypto

[crypto]
enabled_crypto_plugins = simple_crypto

[simple_crypto_plugin]
kek = '{{ openstack_barbican_crypto_key }}'

[keystone_authtoken]
www_authenticate_uri = {{ _controller_http_host }}:5000/
auth_url = {{ _controller_http_host }}:5000/
memcached_servers = {{ _controller_address }}:11211
auth_type = password
project_domain_name = {{ _openstack_domain_name }}
user_domain_name = {{ _openstack_domain_name }}
project_name = service
username = {{ openstack_barbican_service_user }}
password = {{ openstack_barbican_service_password }}
service_token_roles = service
service_token_roles_required = True
service_type = key-manager
