#jinja2: trim_blocks:True,lstrip_blocks:True
{{ ansible_managed | comment }}
[DEFAULT]
transport_url = rabbit://openstack:{{ openstack_rabbitmq_password }}@{{ _controller_address }}:5672/
{% if 'controller' in group_names %}
core_plugin = ml2
service_plugins = ovn-router
{%   if openstack_neutron_api_worker_count is defined %}
api_workers = {{ openstack_neutron_api_worker_count }}
{%   endif %}
{% endif %}
{% if (openstack_neutron_designate_enabled | bool) %}
external_dns_driver = designate
{%   if openstack_neutron_dns_domain is defined %}
dns_domain = {{ openstack_neutron_dns_domain }}
{%   endif %}
{% endif %}

[agent]
root_helper = "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"

{% if 'controller' in group_names %}
[database]
connection = mysql+pymysql://{{ openstack_neutron_db_user }}:{{ openstack_neutron_db_password }}@{{ _mysql_address }}:3306/{{ openstack_neutron_db_name }}

{%   if (openstack_neutron_designate_enabled | bool) %}
[designate]
url = {{ _controller_http_host }}:9001/v2
region_name = {{ _openstack_region_name }}
auth_type = password
username = {{ openstack_neutron_service_user }}
password = {{ openstack_neutron_service_password }}
project_name = service
user_domain_name = {{ _openstack_domain_name }}
project_domain_name = {{ _openstack_domain_name }}
auth_url = {{ _controller_http_host }}:5000/v3
{%     if openstack_neutron_ptr_zone_email is defined %}
ptr_zone_email = {{ openstack_neutron_ptr_zone_email }}
{%     endif %}
{%   endif %}

{% endif -%}

[keystone_authtoken]
www_authenticate_uri = {{ _controller_http_host }}:5000/
auth_url = {{ _controller_http_host }}:5000/
memcached_servers = {{ _controller_address }}:11211
auth_type = password
project_domain_name = {{ _openstack_domain_name }}
user_domain_name = {{ _openstack_domain_name }}
project_name = service
username = {{ openstack_neutron_service_user }}
password = {{ openstack_neutron_service_password }}
service_token_roles_required = True
service_type = network

{% if 'controller' in group_names %}
[nova]
auth_url = {{ _controller_http_host }}:5000
auth_type = password
project_domain_name = {{ _openstack_domain_name }}
user_domain_name = {{ _openstack_domain_name }}
region_name = {{ _openstack_region_name }}
project_name = service
username = {{ openstack_neutron_service_user }}
password = {{ openstack_neutron_service_password }}

{% endif -%}

[oslo_concurrency]
lock_path = $state_path/lock
