{{ ansible_managed | comment }}
key "{{ openstack_designate_rndc_key.name }}" {
        algorithm {{ openstack_designate_rndc_key.algorithm }};
        secret "{{ openstack_designate_rndc_key.secret }}";
};
